.card {
  margin: 20px;
  font-family: 'Cardo', serif;
  width: auto;
  height: 370px;
  box-shadow:  0 2px 2px 0 rgba(0,0,0,0.2);
}

.card-img {
  width: auto;
  height: 300px;
  cursor: pointer;
}

.card-body {
  width: 360px;
}


@media only screen and (max-width: 600px) {
  #media-card.card {
    margin: 40px;
    font-family: 'Cardo', serif;
    width: auto;
    height: 200px;
    box-shadow: 10px;
  }
  #media-img.card-img {
    width: auto;
    height: 200px;
    cursor: pointer;
  }
  #media-body.card-body {
    width: auto;
  }
  .card-title {
    font-size: 10px;
  }
}

@media only screen and (width: 1024px) {
  .card-title {
    font-size: 15px;
  }
  .card-body {
    width: auto;
  }
}

@media only screen and (width: 768px) {
  .card-title {
    font-size: 8px;
  }
  .card-body {
    width: auto;
  }
}
